<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="" method="get">
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
        </form>
        <p><a href="/">Back to main page</a></p>
    </body>
</html>