<html>
    <head>
        <title>New message</title>
    </head>
    <body>
        <h1>New message</h1>
        <form action="/new" method="post">
            <input type="text" name="message_title" placeholder="Message title">
            <input type="text" name="message_text" placeholder="Message text">
            <button type="submit">Sumbit</button>
        </form>
    </body>
</html>