<html>
    <head>
        <title>New message</title>
    </head>
    <body>
        <h1>New message</h1>
        <input type="text" placeholder="Message title">
        <input type="text" placeholder="Message text">
    </body>
</html>