<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register Page</h1>
        <form action="/register" method="post">
            <div class="label-input">
                <label for="register-firstname">First name</label>
                <input id="register-firstname" type="text" name="first_name" placeholder="John">
            </div>
            <div class="label-input">
                <label for="register-lastname">Last name</label>
                <input id="register-lastname" type="text" name="last_name" placeholder="Doe">
            </div>
            <div class="label-input">
                <label for="register-username">Username</label>
                <input id="register-username" type="text" name="username" placeholder="johndoe">
            </div>
            <div class="label-input">
                <label for="register-password">Password</label>
                <input id="register-password" type="password" name="password">
            </div>
            <div class="label-input">
                <label for="repeat-password">Repeat password</label>
                <input id="repeat-password" type="password" name="repeat-password">
            </div>
            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Back to login</a></p>
    </body>
</html>