<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register Page</h1>
        <form action="" method="get">
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
        </form>
        <p><a href="/login">Back to login</a></p>
    </body>
</html>