<html>
    <head>
        <title>Secret code</title>
    </head>
    <body>
        <h1>Secret code</h1>
        <p>Register was successful! Now, enter your secret code</p>
        <p>Hint: secret code consists of 6 numbers</p>
        <form action="/register" method="POST">
            <input id="secretcode" type="number" name="secretcode" placeholder="000111">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>